.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top:0;
    height:512px;//bottom:0;
    width:512px;//right:0;
    left:0;
}

.fullscreen {
    width: 100%;
    height: 100%;

    &.hidden {
     display: none;   
    }
}

.cvElement {
    background-color: #8df;
    cursor: crosshair;
}

.draftButton {
    width: 64px;
    height: 32px;
}

.absolute {
    position: absolute;
}

.button-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layer3 {
    z-index: 3;
}

.layer2 {
    z-index: 2;
}

.layer1 {
    z-index: 1;
}

.layer0 {
    z-index: 0;
}