<div class="absolute layer1 button-box">
    <button (click)="change()" class="draftButton" *ngIf="!toggleCanvas">draw</button>
    <button (click)="runCalculation();" class="draftButton" *ngIf="toggleCanvas">go!</button>
</div>
<div class="absolute layer0 content" #content (window:resize)="resize()">
    <canvas #cvElement class="fullscreen cvElement" [class.hidden]="!toggleCanvas"  (mouseup)="c2d?.mouseUp($event)" (mousedown)="c2d?.mouseDown($event)" (mousemove)="c2d?.mouseMove($event)"></canvas>
    <canvas #glElement class="fullscreen" [class.hidden]="toggleCanvas"></canvas>
</div>
<br>
<pre style="margin-top:512px;">
    GPU Mesh Inflation with Jump Flooding
    COS750 - Computational Geometry 
    Marcos Seefelder de Assis Araujo
    <a href="https://gitlab.com/mseefelder/jfdist">GitLab project</a>
</pre>